flows.json
[{"id":"7d39cbf7.4cc914","type":"tab","label":"battery","disabled":false,"info":""},{"id":"eedfe401.0dbf28","type":"tab","label":"Цитати","disabled":false,"info":""},{"id":"8fd05549.35a2e8","type":"tab","label":"Всї_Сенсори","disabled":false,"info":""},{"id":"199ef594.2f383a","type":"tab","label":"Туалет","disabled":false,"info":""},{"id":"1de36928.bb4db7","type":"tab","label":"Гардероб_свїтло","disabled":false,"info":""},{"id":"b9010c23.49dd","type":"tab","label":"binance","disabled":false,"info":""},{"id":"2de13d49.700a82","type":"tab","label":"Кладовка_замок","disabled":false,"info":""},{"id":"8b4aa0c3.28ae6","type":"tab","label":"Коридор _Свїтло","disabled":false,"info":""},{"id":"403a7cfa.66bae4","type":"tab","label":"Кухня_Свїтло","disabled":false,"info":""},{"id":"e2b5ec2f.7f1d8","type":"tab","label":"Свїтло_Зал","disabled":false,"info":""},{"id":"25e05753.27a1f8","type":"tab","label":"Балкон_Light","disabled":false,"info":""},{"id":"9f3346aa.d4fc48","type":"tab","label":"System","disabled":false,"info":"var payload2 = msg.payload\nreturn payload2;"},{"id":"4b84a0a9.2e185","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"299e6ecc.1aff42","type":"mqtt-broker","name":"Sensors_Kvartyra","broker":"192.168.31.6","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"2","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb49feae.23c74","type":"mqtt-broker","name":"MQTT_Outside","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b782506.371a78","type":"ui_group","name":"балкон","tab":"d447e6b0.9f0698","order":1,"disp":true,"width":3,"collapse":false},{"id":"b98805b9.c45be8","type":"ui_group","name":"зал","tab":"d447e6b0.9f0698","order":2,"disp":true,"width":3,"collapse":false},{"id":"460b8373.d4d33c","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"d447e6b0.9f0698","type":"ui_tab","name":"All_sensors","icon":"балкон","order":1,"disabled":false,"hidden":false},{"id":"1ed04cb3.daa073","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0d0d0d","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0a0b0a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#0a0b0a","edited":true},"page-titlebar-backgroundColor":{"value":"#0a0b0a","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#0a0a0a","edited":true},"group-textColor":{"value":"#f0f4f0","edited":true},"group-borderColor":{"value":"#050505","edited":true},"group-backgroundColor":{"value":"#0a0a0a","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0df80d","edited":true},"widget-borderColor":{"value":"#0f0f0f","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e84c89bf.6f0658","type":"ui_group","name":"кухня","tab":"d447e6b0.9f0698","order":3,"disp":true,"width":3,"collapse":false},{"id":"d23afecb.5be03","type":"ui_group","name":"туалет","tab":"d447e6b0.9f0698","order":4,"disp":true,"width":3,"collapse":false},{"id":"de3391ed.804fc","type":"ui_group","name":"коридор","tab":"d447e6b0.9f0698","order":5,"disp":true,"width":3,"collapse":false},{"id":"f5900839.f52148","type":"ui_group","name":"Ззовнї","tab":"d447e6b0.9f0698","order":6,"disp":true,"width":4,"collapse":false},{"id":"10e75716.293339","type":"telegram bot","botname":"vilson1107","usernames":"","chatids":"188766073","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"6ded6524.8aa7ac","type":"telegram bot","botname":"node_red_bot","usernames":"","chatids":"188766073","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a23869b8.066f08","type":"telegram bot","botname":"vilson_node_red","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"b671cc4f.d23b1","type":"ui_tab","name":"Свїтло","icon":"mi-dashboard","order":2,"disabled":false,"hidden":false},{"id":"2e4ede1d.87ed72","type":"ui_group","name":"Кухня","tab":"b671cc4f.d23b1","order":1,"disp":true,"width":"3","collapse":false},{"id":"91a748f7.07c388","type":"ui_spacer","name":"spacer","group":"2e4ede1d.87ed72","order":3,"width":1,"height":1},{"id":"f0ea9f94.1e5e3","type":"ui_spacer","name":"spacer","group":"2e4ede1d.87ed72","order":4,"width":1,"height":1},{"id":"eff7db1d.8481e8","type":"ui_spacer","name":"spacer","group":"2e4ede1d.87ed72","order":7,"width":1,"height":1},{"id":"f1ca67dd.bc8f58","type":"ui_spacer","name":"spacer","group":"2e4ede1d.87ed72","order":8,"width":1,"height":1},{"id":"dea5d781.5222e8","type":"ui_spacer","name":"spacer","group":"2e4ede1d.87ed72","order":11,"width":1,"height":1},{"id":"64e9a297.a720ec","type":"ui_spacer","name":"spacer","group":"2e4ede1d.87ed72","order":12,"width":1,"height":1},{"id":"2631142d.86f8fc","type":"ui_group","name":"CPU","tab":"2248aa46.11d1c6","order":2,"disp":true,"width":"6","collapse":true},{"id":"4a3f1d17.42abc4","type":"ui_group","name":"SD card","tab":"2248aa46.11d1c6","order":4,"disp":true,"width":"6","collapse":true},{"id":"8e72d94d.e2b8c8","type":"ui_group","name":"Memory","tab":"2248aa46.11d1c6","order":3,"disp":true,"width":"6","collapse":true},{"id":"c552b4f6.efaca8","type":"ui_group","name":"Buttons","tab":"2248aa46.11d1c6","order":1,"disp":false,"width":"3","collapse":false},{"id":"2248aa46.11d1c6","type":"ui_tab","name":"System","icon":"settings","order":2},{"id":"8edc8af8.77ae08","type":"function","z":"8fd05549.35a2e8","name":"проверка влажности","func":"var H_BALKON =global.get('H_BALKON') || 0;\nvar newMsgH = { payload: msg.payload.humidity };\nglobal.set('H_BALKON',newMsgH);\nmsg.payload=H_BALKON;\nreturn H_BALKON;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":20,"wires":[[]]},{"id":"57bc105c.3effa","type":"function","z":"8fd05549.35a2e8","name":"проверка температури","func":"var T_BALKON =global.get('T_BALKON') || 0;\nvar newMsgT = { payload: msg.payload.temperature };\nglobal.set('T_BALKON',newMsgT);\nmsg.payload=T_BALKON;\nreturn T_BALKON;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[[]]},{"id":"1acda78d.126db8","type":"function","z":"8fd05549.35a2e8","name":"проверка влажности","func":"var H_KITCHEN =global.get('H_KITCHEN') || 0;\nvar newMsgH = { payload: msg.payload.humidity };\nglobal.set('H_KITCHEN',newMsgH);\nmsg.payload=H_KITCHEN;\nreturn H_KITCHEN;","outputs":1,"noerr":0,"x":340,"y":620,"wires":[[]]},{"id":"fcf90169.21d4b","type":"function","z":"8fd05549.35a2e8","name":"проверка температури","func":"var T_KITCHEN = global.get('T_KITCHEN') || 0;\nvar newMsgT = { payload: msg.payload.temperature };\nglobal.set('T_KITCHEN',newMsgT);\nmsg.payload=T_KITCHEN;\nreturn T_KITCHEN;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":740,"wires":[[]]},{"id":"bf941c0.da73de8","type":"function","z":"8fd05549.35a2e8","name":"проверка влажности","func":"var H_ZAL =global.get('H_ZAL') || 0;\nvar newMsgH = { payload: msg.payload.humidity };\nglobal.set('H_ZAL',newMsgH);\nmsg.payload=H_ZAL;\nreturn H_ZAL;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":220,"wires":[[]]},{"id":"44f134cc.5c022c","type":"function","z":"8fd05549.35a2e8","name":"проверка температури","func":"var T_ZAL = global.get('T_ZAL') || 0;\nvar newMsgT = { payload: msg.payload.temperature };\nglobal.set('T_ZAL',newMsgT);\nmsg.payload=T_ZAL;\nreturn T_ZAL;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[[]]},{"id":"934efd76.3d499","type":"function","z":"8fd05549.35a2e8","name":"проверка влажности","func":"var H_HOLL=global.get('H_HOLL') || 0;\nvar newMsgH = { payload: msg.payload.humidity };\nglobal.set('H_HOLL',newMsgH);\nmsg.payload=H_HOLL;\nreturn H_HOLL;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[[]]},{"id":"57cb49c8.311b38","type":"function","z":"8fd05549.35a2e8","name":"проверка температури","func":"var T_HOLL=global.get('T_HOLL') || 0;\nvar newMsgT = { payload: msg.payload.temperature };\nglobal.set('T_HOLL',newMsgT);\nmsg.payload=T_HOLL;\nreturn T_HOLL;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[[]]},{"id":"7bdb987.6921068","type":"function","z":"8fd05549.35a2e8","name":"проверка влажности","func":"var H_BATHROOM =global.get('H_BATHROOM') || 0;\nvar newMsgH = { payload: msg.payload.humidity };\nglobal.set('H_BATHROOM',newMsgH);\nmsg.payload=H_BATHROOM;\nreturn H_BATHROOM;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":820,"wires":[[]]},{"id":"8a2fadb5.28bbe","type":"function","z":"8fd05549.35a2e8","name":"проверка температури","func":"var T_BATHROOM = global.get('T_BATHROOM') || 0;\nvar newMsgT = { payload: msg.payload.temperature };\nglobal.set('T_BATHROOM',newMsgT);\nmsg.payload=T_BATHROOM;\nreturn T_BATHROOM;","outputs":1,"noerr":0,"x":350,"y":940,"wires":[[]]},{"id":"742ed175.4df7d","type":"mqtt in","z":"8fd05549.35a2e8","name":"Температура підлоги балкон","topic":"Sensors_Stryi_1/Temp_ESP_1/Temperature","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":120,"y":180,"wires":[["fafdc78d.81b678","31c228fe.5dcee8"]]},{"id":"9e4a9f16.8444b","type":"mqtt in","z":"8fd05549.35a2e8","name":"Температура підлоги zal","topic":"Sensors_Stryi_1/Temp_ESP_2/Temperature","qos":"0","datatype":"json","broker":"299e6ecc.1aff42","x":110,"y":380,"wires":[["d8e8f9f0.0ec3a8","30f5bc63.a1f7c4"]]},{"id":"d0626c2e.2a3c7","type":"mqtt in","z":"8fd05549.35a2e8","name":"Температура підлоги kitchen","topic":"Sensors_Stryi_1/Temp_ESP_6/Temperature","qos":"0","datatype":"json","broker":"299e6ecc.1aff42","x":120,"y":780,"wires":[["1ce42a23.092436","27e13220.1956ce"]]},{"id":"e7d91cc6.a0a7e","type":"mqtt in","z":"8fd05549.35a2e8","name":"Температура підлоги holl","topic":"Sensors_Stryi_1/Temp_ESP_4/Temperature","qos":"0","datatype":"auto","broker":"299e6ecc.1aff42","x":110,"y":580,"wires":[["a0dd4241.29e39","30d9ec29.c66684"]]},{"id":"9e2588b0.a6e778","type":"mqtt in","z":"8fd05549.35a2e8","name":"Температура підлоги bathroom","topic":"Sensors_Stryi_1/Temp_ESP_5/Temperature","qos":"0","datatype":"json","broker":"299e6ecc.1aff42","x":130,"y":1000,"wires":[["18cc0bf2.527324","ed1b985a.f88718"]]},{"id":"9e4db5e0.a38128","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"kitchen/t","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":860,"y":700,"wires":[]},{"id":"9dd370e4.905e5","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"kitchen/h","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":860,"y":660,"wires":[]},{"id":"267dea3b.a95416","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"bathroom/h","qos":"","retain":"true","broker":"fb49feae.23c74","x":1090,"y":860,"wires":[]},{"id":"129e2248.f4d0be","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"bathroom/t","qos":"","retain":"true","broker":"fb49feae.23c74","x":1090,"y":900,"wires":[]},{"id":"356c06c6.92559a","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"holl/t","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":850,"y":500,"wires":[]},{"id":"3f021be1.d2ce24","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"holl/h","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":850,"y":460,"wires":[]},{"id":"1ec27788.873a28","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"zal/t","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":850,"y":300,"wires":[]},{"id":"c9f5bbe2.b0cbb8","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"zal/h","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":850,"y":260,"wires":[]},{"id":"473e5d4e.d3bcd4","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"balkon/h","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":860,"y":60,"wires":[]},{"id":"80d34083.a45cc","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"balkon/t","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":860,"y":100,"wires":[]},{"id":"d62326c3.a86448","type":"inject","z":"8fd05549.35a2e8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"H_BALKON","payloadType":"global","x":360,"y":60,"wires":[["77ae4f48.55b"]]},{"id":"e6016833.cd9248","type":"inject","z":"8fd05549.35a2e8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"T_BALKON","payloadType":"global","x":350,"y":100,"wires":[["cef6d446.5c92d8"]]},{"id":"eba7943d.385c08","type":"inject","z":"8fd05549.35a2e8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"H_ZAL","payloadType":"global","x":340,"y":260,"wires":[["4b4c9267.25ecac"]]},{"id":"5efef707.baf338","type":"inject","z":"8fd05549.35a2e8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"T_ZAL","payloadType":"global","x":340,"y":300,"wires":[["5655d42a.65cabc"]]},{"id":"ecca52c2.bfe79","type":"inject","z":"8fd05549.35a2e8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"H_HOLL","payloadType":"global","x":340,"y":460,"wires":[["8b585aa6.559138"]]},{"id":"864ea5bd.e1eec8","type":"inject","z":"8fd05549.35a2e8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"T_HOLL","payloadType":"global","x":340,"y":500,"wires":[["e23efb36.5d76e8"]]},{"id":"66c50811.a6d3a8","type":"inject","z":"8fd05549.35a2e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"H_KITCHEN","payloadType":"global","x":360,"y":660,"wires":[["32d32a24.19c0d6"]]},{"id":"5489d988.8cf9a8","type":"inject","z":"8fd05549.35a2e8","name":"","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"T_KITCHEN","payloadType":"global","x":360,"y":700,"wires":[["77972bc7.268264"]]},{"id":"c0486499.462cc8","type":"inject","z":"8fd05549.35a2e8","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"H_BATHROOM","payloadType":"global","x":370,"y":860,"wires":[["75418c67.e7b0e4"]]},{"id":"e3d0e7fc.cf7fc8","type":"inject","z":"8fd05549.35a2e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"T_BATHROOM","payloadType":"global","x":370,"y":900,"wires":[["5b6a6eb2.a6c9d"]]},{"id":"b0b5fb67.bfb4b8","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"holl/h","qos":"","retain":"true","broker":"fb49feae.23c74","x":970,"y":460,"wires":[]},{"id":"9a829049.d8513","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"holl/t","qos":"","retain":"true","broker":"fb49feae.23c74","x":970,"y":500,"wires":[]},{"id":"c8faeaf8.9e50c8","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Коридор_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":100,"y":500,"wires":[["57cb49c8.311b38"]]},{"id":"a0dd4241.29e39","type":"mqtt out","z":"8fd05549.35a2e8","name":"Температура підлоги holl","topic":"Sensors_Stryi_1/Temp_ESP_4/Temperature","qos":"0","retain":"","broker":"fb49feae.23c74","x":910,"y":540,"wires":[]},{"id":"d8e8f9f0.0ec3a8","type":"mqtt out","z":"8fd05549.35a2e8","name":"Температура підлоги zal","topic":"Sensors_Stryi_1/Temp_ESP_2/Temperature","qos":"0","retain":"","broker":"fb49feae.23c74","x":910,"y":380,"wires":[]},{"id":"fafdc78d.81b678","type":"mqtt out","z":"8fd05549.35a2e8","name":"Температура підлоги балкон","topic":"Sensors_Stryi_1/Temp_ESP_1/Temperature","qos":"0","retain":"","broker":"fb49feae.23c74","x":930,"y":140,"wires":[]},{"id":"1ce42a23.092436","type":"mqtt out","z":"8fd05549.35a2e8","name":"Температура підлоги kitchen","topic":"Sensors_Stryi_1/Temp_ESP_6/Temperature","qos":"0","retain":"","broker":"fb49feae.23c74","x":930,"y":740,"wires":[]},{"id":"18cc0bf2.527324","type":"mqtt out","z":"8fd05549.35a2e8","name":"Температура підлоги bathroom","topic":"Sensors_Stryi_1/Temp_ESP_5/Temperature","qos":"","retain":"","broker":"fb49feae.23c74","x":470,"y":1040,"wires":[]},{"id":"538d7671.0c45e8","type":"mqtt out","z":"8fd05549.35a2e8","name":"Вулиця","topic":"Sensors_Stryi_1/Temp_ESP_3/Temperature","qos":"","retain":"","broker":"fb49feae.23c74","x":860,"y":1100,"wires":[]},{"id":"885d051e.31f2b8","type":"mqtt in","z":"8fd05549.35a2e8","name":"Вулиця","topic":"Sensors_Stryi_1/Temp_ESP_3/Temperature","qos":"0","datatype":"auto","broker":"299e6ecc.1aff42","x":50,"y":1100,"wires":[["538d7671.0c45e8","896e9b37.cb6408","80983325.d2d32","4a648573.86509c"]]},{"id":"23669b6.0c02a64","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Коридор_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":100,"y":460,"wires":[["934efd76.3d499"]]},{"id":"8b585aa6.559138","type":"function","z":"8fd05549.35a2e8","name":"H_HOLL","func":"var payload = msg.payload\nreturn payload;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["3f021be1.d2ce24","9606a31a.b5e9d"]]},{"id":"e23efb36.5d76e8","type":"function","z":"8fd05549.35a2e8","name":"T_HOLL","func":"var payload1 = msg.payload\nreturn payload1;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["96856852.98a568"]]},{"id":"9606a31a.b5e9d","type":"change","z":"8fd05549.35a2e8","name":"H_HOLL","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":460,"wires":[["b0b5fb67.bfb4b8","897028dc.afbad8"]]},{"id":"96856852.98a568","type":"change","z":"8fd05549.35a2e8","name":"T_HOLL","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":500,"wires":[["356c06c6.92559a","9a829049.d8513","172f4348.944d2d"]]},{"id":"ab6ef204.31b84","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Балкон_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":60,"wires":[["8edc8af8.77ae08"]]},{"id":"a66cf2dd.b89f3","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Балкон_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":100,"wires":[["57bc105c.3effa"]]},{"id":"77ae4f48.55b","type":"function","z":"8fd05549.35a2e8","name":"H_Balkon","func":"var payload2 = msg.payload\nreturn payload2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":60,"wires":[["9a4d290c.2102e8"]]},{"id":"9a4d290c.2102e8","type":"change","z":"8fd05549.35a2e8","name":"H_Balkon","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[["473e5d4e.d3bcd4","2d02732b.da09dc","3fc42b5a.f6a554"]]},{"id":"cef6d446.5c92d8","type":"function","z":"8fd05549.35a2e8","name":"T_Balkon","func":"var payload3 = msg.payload\nreturn payload3;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["93f7e98f.048568"]]},{"id":"93f7e98f.048568","type":"change","z":"8fd05549.35a2e8","name":"T_Balkon","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":100,"wires":[["80d34083.a45cc","5759c3f2.9304cc","621584d.e52407c"]]},{"id":"2d02732b.da09dc","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"balkon/h","qos":"","retain":"true","broker":"fb49feae.23c74","x":1000,"y":60,"wires":[]},{"id":"5759c3f2.9304cc","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"balkon/t","qos":"","retain":"true","broker":"fb49feae.23c74","x":1000,"y":100,"wires":[]},{"id":"a399d536.aaf7f8","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"kitchen/h","qos":"","retain":"true","broker":"fb49feae.23c74","x":1000,"y":660,"wires":[]},{"id":"bf1d7183.f0e96","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"kitchen/t","qos":"","retain":"true","broker":"fb49feae.23c74","x":1000,"y":700,"wires":[]},{"id":"77972bc7.268264","type":"function","z":"8fd05549.35a2e8","name":"T_Kitchen","func":"var payload5 = msg.payload\nreturn payload5;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":700,"wires":[["54e25a4a.d9a834"]]},{"id":"54e25a4a.d9a834","type":"change","z":"8fd05549.35a2e8","name":"T_Kitchen","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":700,"wires":[["9e4db5e0.a38128","bf1d7183.f0e96","c8dd8c40.a4963"]]},{"id":"32d32a24.19c0d6","type":"function","z":"8fd05549.35a2e8","name":"H_Kitchen","func":"var payload4 = msg.payload;\nreturn payload4;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":660,"wires":[["72593629.5e9168"]]},{"id":"72593629.5e9168","type":"change","z":"8fd05549.35a2e8","name":"H_Kitchen","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":660,"wires":[["a399d536.aaf7f8","9dd370e4.905e5","2b22ec3d.ec24b4"]]},{"id":"e367f147.f8323","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Кухня_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":660,"wires":[["1acda78d.126db8"]]},{"id":"5390bb86.08d7d4","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Кухня_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":700,"wires":[["fcf90169.21d4b"]]},{"id":"578b76ec.bdc268","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Зал_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":80,"y":260,"wires":[["bf941c0.da73de8"]]},{"id":"150093d0.11f7ac","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Зал_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":80,"y":300,"wires":[["44f134cc.5c022c"]]},{"id":"5655d42a.65cabc","type":"function","z":"8fd05549.35a2e8","name":"T_Zal","func":"var payload7 = msg.payload\nreturn payload7;","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["2e21e6db.badf1a"]]},{"id":"2e21e6db.badf1a","type":"change","z":"8fd05549.35a2e8","name":"T_Zal","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["1ec27788.873a28","38a5ba65.9ba0b6","955d3a87.b4fce8"]]},{"id":"4b4c9267.25ecac","type":"function","z":"8fd05549.35a2e8","name":"H_Zal","func":"var payload6 = msg.payload\nreturn payload6;","outputs":1,"noerr":0,"x":530,"y":260,"wires":[["41830e4a.9b0d9"]]},{"id":"41830e4a.9b0d9","type":"change","z":"8fd05549.35a2e8","name":"H_Zal","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":260,"wires":[["c9f5bbe2.b0cbb8","3d15b889.294ab8","dbe8f164.5ea64"]]},{"id":"38a5ba65.9ba0b6","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"zal/t","qos":"","retain":"true","broker":"fb49feae.23c74","x":970,"y":300,"wires":[]},{"id":"3d15b889.294ab8","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"zal/h","qos":"","retain":"true","broker":"fb49feae.23c74","x":970,"y":260,"wires":[]},{"id":"538ea552.7a754c","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Туалет_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":860,"wires":[["7bdb987.6921068"]]},{"id":"95b3c0ae.2900a","type":"mqtt in","z":"8fd05549.35a2e8","name":"","topic":"SLS/Туалет_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":900,"wires":[["8a2fadb5.28bbe"]]},{"id":"5b6a6eb2.a6c9d","type":"function","z":"8fd05549.35a2e8","name":"T_BATHROOM","func":"var payload9 = msg.payload;\nreturn payload9;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":900,"wires":[["1d85b89e.ac01f7"]]},{"id":"1d85b89e.ac01f7","type":"change","z":"8fd05549.35a2e8","name":"T_BATHROOM","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":900,"wires":[["129e2248.f4d0be","f101bee2.2759b","ac86703.c718e9"]]},{"id":"75418c67.e7b0e4","type":"function","z":"8fd05549.35a2e8","name":"H_BATHROOM","func":"var payload8 = msg.payload;\nreturn payload8;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":860,"wires":[["2560ea9c.247346"]]},{"id":"2560ea9c.247346","type":"change","z":"8fd05549.35a2e8","name":"H_BATHROOM","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":860,"wires":[["267dea3b.a95416","a56d39ea.f380d8","3b55a920.a7c7d6"]]},{"id":"a56d39ea.f380d8","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"bathroom/h","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":930,"y":820,"wires":[]},{"id":"f101bee2.2759b","type":"mqtt out","z":"8fd05549.35a2e8","name":"","topic":"bathroom/t","qos":"","retain":"true","broker":"299e6ecc.1aff42","x":930,"y":940,"wires":[]},{"id":"3fc42b5a.f6a554","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"9b782506.371a78","order":1,"width":3,"height":2,"name":"","icon":"","label":"вологість","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#070cbc","t":"min","dot":1},{"val":100,"col":"#070cbc","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":700,"y":20,"wires":[]},{"id":"dbe8f164.5ea64","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"b98805b9.c45be8","order":1,"width":3,"height":2,"name":"","icon":"","label":"вологість","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#0000c4","t":"min","dot":1},{"val":100,"col":"#0000c4","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":700,"y":220,"wires":[]},{"id":"ae0e908d.ee2f6","type":"switch","z":"199ef594.2f383a","name":"Верхня межа вологості","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":385,"y":50,"wires":[["d97f3344.695ed"]]},{"id":"48cb74ae.44b2ec","type":"switch","z":"199ef594.2f383a","name":"Нижня межа вологості","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"65","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":385,"y":175,"wires":[["521f36f0.ef7d98"]]},{"id":"521f36f0.ef7d98","type":"change","z":"199ef594.2f383a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":175,"wires":[["2ff99175.7cc99e"]]},{"id":"d97f3344.695ed","type":"change","z":"199ef594.2f383a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":50,"wires":[["2ff99175.7cc99e"]]},{"id":"2ff99175.7cc99e","type":"modbus-write","z":"199ef594.2f383a","name":"Витяжка туалет-R7","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"Coil","adr":"7","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":680,"y":120,"wires":[[],[]]},{"id":"31413880.ba0518","type":"change","z":"403a7cfa.66bae4","name":"правила для бра","rules":[{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":160,"wires":[["fbe1d468.ba8938"]]},{"id":"977fafd1.c9119","type":"delay","z":"403a7cfa.66bae4","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":260,"wires":[["feef8b99.692e68","d329e65.84c4d18"]]},{"id":"52b8ffe9.b9bdf","type":"change","z":"403a7cfa.66bae4","name":"правила для ленты","rules":[{"t":"change","p":"payload","pt":"msg","from":"3","fromt":"num","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"4","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[["977fafd1.c9119"]]},{"id":"5bd6ad3c.c76934","type":"function","z":"403a7cfa.66bae4","name":"number_of_button_klick","func":"var payload=msg.payload\nif (payload === 1) {\n   return [ msg,null,null,null,null ];\n} else if (payload === 2){\n   return [ null,msg,null,null,null ];\n}\n else if (payload === 3){\n     return [null,null,msg,null,null]\n }\n else if (payload === 4){\n     return [null,null,null,msg,null]\n }\n  else if (payload === 5){\n     return [null,null,null,null,msg]\n }","outputs":5,"noerr":0,"initialize":"","finalize":"","x":335,"y":200,"wires":[["31413880.ba0518"],["31413880.ba0518"],["52b8ffe9.b9bdf"],["52b8ffe9.b9bdf"],["52bbd828.d941e8"]]},{"id":"39cefa62.078926","type":"function","z":"403a7cfa.66bae4","name":"ON/Off_bra","func":"var BRA=global.get('BRA');\nvar new_state;\nif (msg.payload.state===true){\n  new_state=1;\n  msg.payload=new_state;\n  global.set('BRA',msg.payload);\n}\nelse if (msg.payload.state===false){\n  new_state=0;\n  msg.payload=new_state; \n  global.set('BRA',msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":50,"wires":[[]]},{"id":"fca7dd3d.82cee","type":"mqtt out","z":"403a7cfa.66bae4","name":"","topic":"on/off/bra","qos":"2","retain":"true","broker":"299e6ecc.1aff42","x":510,"y":125,"wires":[]},{"id":"3fe972e7.b4c12e","type":"inject","z":"403a7cfa.66bae4","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"BRA","payloadType":"global","x":295,"y":100,"wires":[["fca7dd3d.82cee","f846c5e3.cccb28"]]},{"id":"cbe47088.a74e5","type":"mqtt in","z":"403a7cfa.66bae4","name":"","topic":"on/off/bra","qos":"2","datatype":"auto","broker":"299e6ecc.1aff42","x":310,"y":25,"wires":[["91702ccb.6938f"]]},{"id":"91702ccb.6938f","type":"change","z":"403a7cfa.66bae4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":25,"wires":[["fbe1d468.ba8938"]]},{"id":"751ecd06.973274","type":"function","z":"403a7cfa.66bae4","name":"Level_strip_1","func":"var STRIP_1=global.get('STRIP_1');\nvar new_state;\nif (msg.payload.value===220){\n  new_state=1;\n  msg.payload=new_state;\n  global.set('STRIP_1',msg.payload);\n}\nelse if (msg.payload.value===0){\n  new_state=0;\n  msg.payload=new_state; \n  global.set('STRIP_1',msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":160,"wires":[[]]},{"id":"642292ed.45a6cc","type":"function","z":"403a7cfa.66bae4","name":"Level_strip_2","func":"var STRIP_2=global.get('STRIP_2');\nvar new_state;\nif (msg.payload.value===220){\n  new_state=1;\n  msg.payload=new_state;\n  global.set('STRIP_2',msg.payload);\n}\nelse if (msg.payload.value===0){\n  new_state=0;\n  msg.payload=new_state; \n  global.set('STRIP_2',msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":500,"wires":[[]]},{"id":"33275245.02e2fe","type":"mqtt in","z":"403a7cfa.66bae4","name":"","topic":"kitchen/strip_1","qos":"0","datatype":"auto","broker":"299e6ecc.1aff42","x":910,"y":320,"wires":[["6e48f394.05eeac"]]},{"id":"fb2fe958.58d508","type":"mqtt in","z":"403a7cfa.66bae4","name":"","topic":"kitchen/strip_2","qos":"2","datatype":"auto","broker":"299e6ecc.1aff42","x":910,"y":380,"wires":[["5c136fc1.3110f"]]},{"id":"bd81eceb.54e5a","type":"change","z":"403a7cfa.66bae4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"5","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":325,"wires":[["feef8b99.692e68","fbe1d468.ba8938","d329e65.84c4d18"]]},{"id":"52bbd828.d941e8","type":"delay","z":"403a7cfa.66bae4","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":120,"y":325,"wires":[["bd81eceb.54e5a"]]},{"id":"95fe7cd.c1e918","type":"mqtt in","z":"403a7cfa.66bae4","name":"","topic":"SLS/Кухня_кнопка","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":40,"wires":[["880ef1a8.4db87"]]},{"id":"880ef1a8.4db87","type":"function","z":"403a7cfa.66bae4","name":"Action","func":"var payload = msg.payload.action;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":70,"y":100,"wires":[["47b4778e.828e58"]]},{"id":"47b4778e.828e58","type":"change","z":"403a7cfa.66bae4","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"single","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"double","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"triple","fromt":"str","to":"3","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"quadruple","fromt":"str","to":"4","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"many","fromt":"str","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":200,"wires":[["5bd6ad3c.c76934"]]},{"id":"fbe1d468.ba8938","type":"modbus-write","z":"403a7cfa.66bae4","name":"Кухня бра","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"Coil","adr":"6","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":770,"y":25,"wires":[[],["39cefa62.078926"]]},{"id":"5c136fc1.3110f","type":"modbus-write","z":"403a7cfa.66bae4","name":"Кухня_Strip2","showStatusActivities":true,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"5","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":910,"y":440,"wires":[[],["642292ed.45a6cc"]]},{"id":"6e48f394.05eeac","type":"modbus-write","z":"403a7cfa.66bae4","name":"Кухня_Strip1","showStatusActivities":true,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"6","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":910,"y":240,"wires":[[],["751ecd06.973274"]]},{"id":"feef8b99.692e68","type":"dynamic-dimmer","z":"403a7cfa.66bae4","name":"","eventInterval":"25","steps":"50","minValue":0,"maxValue":"220","x":655,"y":325,"wires":[["6e48f394.05eeac"]]},{"id":"f837d14.4d7da3","type":"trigger","z":"2de13d49.700a82","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"100","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":540,"y":40,"wires":[["230f294b.6aa686"]]},{"id":"37cad685.dc237a","type":"mqtt in","z":"2de13d49.700a82","name":"","topic":"SLS/Кладовка_кнопка","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":100,"y":40,"wires":[["d2bb6788.2bed78"]]},{"id":"d2bb6788.2bed78","type":"function","z":"2de13d49.700a82","name":"","func":"var payload = msg.payload.action;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[["666544f3.33bd0c"]]},{"id":"666544f3.33bd0c","type":"change","z":"2de13d49.700a82","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"single","fromt":"str","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"double","fromt":"str","to":"2","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"\"\"","fromt":"str","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"triple","fromt":"str","to":"3","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"quadruple","fromt":"str","to":"4","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"many","fromt":"str","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":225,"y":125,"wires":[["d797ffff.7b3a9"]]},{"id":"3cf0583.a5733a8","type":"inject","z":"b9010c23.49dd","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":20,"wires":[["a0ba6aec.343998"]]},{"id":"7285fa49.c26d34","type":"mqtt out","z":"b9010c23.49dd","name":"","topic":"usdt/btc","qos":"","retain":"","broker":"299e6ecc.1aff42","x":620,"y":20,"wires":[]},{"id":"a2a6bd57.66fd9","type":"inject","z":"b9010c23.49dd","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":100,"wires":[["8840cc87.598d2"]]},{"id":"9d0c2570.377798","type":"mqtt out","z":"b9010c23.49dd","name":"","topic":"ksm/usdt","qos":"","retain":"","broker":"299e6ecc.1aff42","x":620,"y":100,"wires":[]},{"id":"6c574c23.a40844","type":"mqtt in","z":"b9010c23.49dd","name":"","topic":"ksm/usdt","qos":"2","datatype":"auto","broker":"299e6ecc.1aff42","x":60,"y":220,"wires":[["ee1bacd2.18a1"]]},{"id":"ee1bacd2.18a1","type":"mqtt out","z":"b9010c23.49dd","name":"","topic":"ksm/usdt","qos":"","retain":"","broker":"fb49feae.23c74","x":340,"y":220,"wires":[]},{"id":"25fa7755.2f4728","type":"mqtt out","z":"b9010c23.49dd","name":"","topic":"usdt/btc","qos":"","retain":"","broker":"fb49feae.23c74","x":340,"y":160,"wires":[]},{"id":"1d93c83b.5cd938","type":"mqtt in","z":"b9010c23.49dd","name":"","topic":"usdt/btc","qos":"2","datatype":"auto","broker":"299e6ecc.1aff42","x":50,"y":160,"wires":[["25fa7755.2f4728"]]},{"id":"a0ba6aec.343998","type":"binance-get-price","z":"b9010c23.49dd","name":"BTC","ticker":"BTCUSDT","x":340,"y":20,"wires":[["7285fa49.c26d34"]]},{"id":"8840cc87.598d2","type":"binance-get-price","z":"b9010c23.49dd","name":"KSM","ticker":"KSMUSDT","x":340,"y":100,"wires":[["9d0c2570.377798"]]},{"id":"283eb146.d9158e","type":"mqtt in","z":"8b4aa0c3.28ae6","name":"","topic":"SLS/Сенсор_движения_коридор","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":140,"y":20,"wires":[["dece1b7c.783848","120a20ac.537e5f"]]},{"id":"230f294b.6aa686","type":"mqtt out","z":"2de13d49.700a82","name":"Kladowka","topic":"sls/Relay","qos":"0","retain":"","broker":"299e6ecc.1aff42","x":720,"y":40,"wires":[]},{"id":"955d3a87.b4fce8","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"b98805b9.c45be8","order":2,"width":3,"height":2,"name":"","icon":"","label":"повітря","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff00ff","t":"min","dot":1},{"val":40,"col":"#ff00ff","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":710,"y":342,"wires":[]},{"id":"30f5bc63.a1f7c4","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"b98805b9.c45be8","order":3,"width":3,"height":2,"name":"","icon":"","label":"підлога","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff8000","t":"min","dot":1},{"val":40,"col":"#ff8000","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":580,"y":360,"wires":[]},{"id":"31c228fe.5dcee8","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"9b782506.371a78","order":3,"width":3,"height":2,"name":"","icon":"","label":"підлога","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff8000","t":"min","dot":1},{"val":40,"col":"#ff8000","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":700,"y":180,"wires":[]},{"id":"621584d.e52407c","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"9b782506.371a78","order":2,"width":3,"height":2,"name":"","icon":"","label":"повітря","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff00ff","t":"min","dot":1},{"val":40,"col":"#ff00ff","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":700,"y":140,"wires":[]},{"id":"897028dc.afbad8","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"de3391ed.804fc","order":1,"width":3,"height":2,"name":"","icon":"","label":"вологість","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#0000c4","t":"min","dot":1},{"val":100,"col":"#0000c4","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":700,"y":400,"wires":[]},{"id":"172f4348.944d2d","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"de3391ed.804fc","order":2,"width":3,"height":2,"name":"","icon":"","label":"повітря","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff00ff","t":"min","dot":1},{"val":40,"col":"#ff00ff","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":700,"y":560,"wires":[]},{"id":"30d9ec29.c66684","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"de3391ed.804fc","order":3,"width":3,"height":2,"name":"","icon":"","label":"підлога","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff8000","t":"min","dot":1},{"val":40,"col":"#ff8000","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":520,"y":580,"wires":[]},{"id":"2b22ec3d.ec24b4","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"e84c89bf.6f0658","order":1,"width":3,"height":2,"name":"","icon":"","label":"вологість","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#0000c4","t":"min","dot":1},{"val":100,"col":"#0000c4","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":720,"y":620,"wires":[]},{"id":"c8dd8c40.a4963","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"e84c89bf.6f0658","order":2,"width":3,"height":2,"name":"","icon":"","label":"повітря","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff00ff","t":"min","dot":1},{"val":40,"col":"#ff00ff","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":720,"y":760,"wires":[]},{"id":"27e13220.1956ce","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"e84c89bf.6f0658","order":3,"width":3,"height":2,"name":"","icon":"","label":"підлога","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff8000","t":"min","dot":1},{"val":40,"col":"#ff8000","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":520,"y":780,"wires":[]},{"id":"3b55a920.a7c7d6","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"d23afecb.5be03","order":1,"width":3,"height":2,"name":"","icon":"","label":"вологість","unit":"%","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#0000c4","t":"min","dot":1},{"val":100,"col":"#0000c4","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":740,"y":800,"wires":[]},{"id":"ac86703.c718e9","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"d23afecb.5be03","order":2,"width":3,"height":2,"name":"","icon":"","label":"повітря","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff00ff","t":"min","dot":1},{"val":40,"col":"#ff00ff","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":740,"y":960,"wires":[]},{"id":"ed1b985a.f88718","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"d23afecb.5be03","order":3,"width":3,"height":2,"name":"","icon":"","label":"підлога","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":0,"col":"#ff8000","t":"min","dot":1},{"val":40,"col":"#ff8000","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":520,"y":980,"wires":[]},{"id":"896e9b37.cb6408","type":"ui_artlessgauge","z":"8fd05549.35a2e8","group":"f5900839.f52148","order":1,"width":4,"height":4,"name":"","icon":"","label":"Повїтря","unit":"*С","layout":"radial","decimals":"1","differential":false,"minmax":true,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"sectors":[{"val":-20,"col":"#04f60c","t":"min","dot":1},{"val":40,"col":"#04f60c","t":"max","dot":1}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":456,"y":1146,"wires":[]},{"id":"4a648573.86509c","type":"debug","z":"8fd05549.35a2e8","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":1050,"wires":[]},{"id":"1ddacbed.892214","type":"mqtt in","z":"199ef594.2f383a","name":"","topic":"SLS/Туалет_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":120,"wires":[["88962491.944ed8"]]},{"id":"88962491.944ed8","type":"function","z":"199ef594.2f383a","name":"проверка влажности","func":"var H = { payload: msg.payload.humidity };\nmsg.payload=H;\nreturn H;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":120,"wires":[["ae0e908d.ee2f6","48cb74ae.44b2ec"]]},{"id":"dece1b7c.783848","type":"function","z":"8b4aa0c3.28ae6","name":"MOVE_HOLL","func":"var payload = msg.payload.occupancy;\nvar MOVE_HOLL=global.get('MOVE_HOLL') || false;\nglobal.set('MOVE_HOLL',payload);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":20,"wires":[["37f4657a.1462ca","120a20ac.537e5f"]]},{"id":"fb370439.6e1a38","type":"dynamic-dimmer","z":"8b4aa0c3.28ae6","name":"Day","eventInterval":"5","steps":"60","minValue":0,"maxValue":"240","x":575,"y":75,"wires":[["ee3f756b.01a6e8"]]},{"id":"ee3f756b.01a6e8","type":"modbus-write","z":"8b4aa0c3.28ae6","name":"Holl_Strip","showStatusActivities":false,"showErrors":false,"unitid":"3","dataType":"HoldingRegister","adr":"4","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":760,"y":75,"wires":[["120a20ac.537e5f"],[]]},{"id":"37f4657a.1462ca","type":"change","z":"8b4aa0c3.28ae6","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":100,"wires":[["5f040f1.91b55f","8a9001ec.6d26e","cb6c8946.4884d8"]]},{"id":"1ec63202.7cac2e","type":"timerswitch","z":"8b4aa0c3.28ae6","name":"Day","ontopic":"clock_on","offtopic":"clock-off","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"06","on_m":"00","on_s":"01","off_h":"18","off_m":"00","off_s":"00","valid":true}],"x":290,"y":200,"wires":[["1eb09def.d4e612"]]},{"id":"9d80e1fd.eddea","type":"timerswitch","z":"8b4aa0c3.28ae6","name":"Evening","ontopic":"clock_on","offtopic":"clock-off","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"18","on_m":"00","on_s":"01","off_h":"22","off_m":"00","off_s":"00","valid":true}],"x":300,"y":260,"wires":[["da9a1716.8c3058"]]},{"id":"8114eb8d.ab2bc8","type":"timerswitch","z":"8b4aa0c3.28ae6","name":"Night","ontopic":"clock_on","offtopic":"clock-off","onpayload":"on","offpayload":"off","disabled":false,"schedules":[{"on_h":"22","on_m":"00","on_s":"01","off_h":"06","off_m":"00","off_s":"00","valid":true}],"x":290,"y":320,"wires":[["5b66599e.702098"]]},{"id":"1eb09def.d4e612","type":"function","z":"8b4aa0c3.28ae6","name":"DAY","func":"var payload = msg.payload;\nvar DAY=global.get('DAY') || false;\nglobal.set('DAY',payload);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":200,"wires":[["e20bc4c9.441c48"]]},{"id":"da9a1716.8c3058","type":"function","z":"8b4aa0c3.28ae6","name":"EVENIHG","func":"var payload = msg.payload;\nvar EVENING=global.get('EVENIHG') || false;\nglobal.set('EVENIHG',payload);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":260,"wires":[["e20bc4c9.441c48"]]},{"id":"5b66599e.702098","type":"function","z":"8b4aa0c3.28ae6","name":"NIGHT","func":"var payload = msg.payload;\nvar NIGHT=global.get('NIGHT') || false;\nglobal.set('NIGHT',payload);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":320,"wires":[["e20bc4c9.441c48"]]},{"id":"5f040f1.91b55f","type":"function","z":"8b4aa0c3.28ae6","name":"Day","func":"var payload=msg.payload;\nvar DAY=global.get('DAY');\nif (payload === 1 && DAY === 'on') {\n    msg.payload=1;\n return msg;\n}\nelse if ((payload === 0 && DAY === 'on')||(payload === 1 && DAY === 'off')||(payload === 0 && DAY === 'off')) {\n    msg.payload=0;\n return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":80,"wires":[["fb370439.6e1a38"]]},{"id":"3afb18ba.3d2868","type":"dynamic-dimmer","z":"8b4aa0c3.28ae6","name":"Evening","eventInterval":"10","steps":"40","minValue":0,"maxValue":"160","x":585,"y":125,"wires":[["ee3f756b.01a6e8"]]},{"id":"d6bfd3d4.f50be","type":"dynamic-dimmer","z":"8b4aa0c3.28ae6","name":"Night","eventInterval":"5","steps":"40","minValue":0,"maxValue":"40","x":575,"y":175,"wires":[["ee3f756b.01a6e8"]]},{"id":"8a9001ec.6d26e","type":"function","z":"8b4aa0c3.28ae6","name":"Evening","func":"var payload=msg.payload;\nvar EVENIHG = global.get(\"EVENIHG\");\nif (payload === 1 && EVENIHG === \"on\") {\n    msg.payload=1;\n return msg;\n}\nelse if ((payload === 0 && EVENIHG === \"on\")||(payload === 1 && EVENIHG === \"off\")||(payload === 0 && EVENIHG === \"off\")) {\n    msg.payload=0;\n return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":120,"wires":[["3afb18ba.3d2868"]]},{"id":"cb6c8946.4884d8","type":"function","z":"8b4aa0c3.28ae6","name":"Night","func":"var payload=msg.payload;\nvar NIGHT=global.get('NIGHT');\nif (payload === 1 && NIGHT === 'on') {\n    msg.payload=1;\n return msg;\n}\nelse if ((payload === 0 && NIGHT === 'on')||(payload === 1 && NIGHT === 'off')||(payload === 0 && NIGHT === 'off')) {\n    msg.payload=0;\n return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["d6bfd3d4.f50be"]]},{"id":"120a20ac.537e5f","type":"debug","z":"8b4aa0c3.28ae6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":350,"wires":[]},{"id":"764036fd.b23cd8","type":"inject","z":"8b4aa0c3.28ae6","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":115,"y":250,"wires":[["1ec63202.7cac2e","9d80e1fd.eddea","8114eb8d.ab2bc8"]]},{"id":"200ad635.5858fa","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Кухня_кнопка","topic":"SLS/Кухня_кнопка","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":60,"wires":[["df19a3d2.6e27a"]]},{"id":"4061fdf5.cea754","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Сенсор_движения _коридор","topic":"SLS/Сенсор_движения _коридор","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":140,"y":140,"wires":[["c23e4049.1baa6"]]},{"id":"71a32824.1ec458","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Балкон_sensor","topic":"SLS/Балкон_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":100,"y":220,"wires":[["507bcc22.b50554"]]},{"id":"4f0b0fbe.75ead","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Зал_sensor","topic":"SLS/Зал_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":300,"wires":[["1b775f13.49bd31"]]},{"id":"8d96550.27785a8","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Кухня_sensor","topic":"SLS/Кухня_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":380,"wires":[["7f43d1eb.2a7cf"]]},{"id":"aaaa71db.45c71","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Кладовка_кнопка","topic":"SLS/Кладовка_кнопка","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":110,"y":460,"wires":[["e79b9e13.888ae"]]},{"id":"43ed08b9.32ac08","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Туалет_sensor","topic":"SLS/Туалет_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":80,"y":540,"wires":[["b84b6841.6e8c68"]]},{"id":"cdec6877.2c5708","type":"mqtt in","z":"7d39cbf7.4cc914","name":"Коридор_sensor_battery","topic":"SLS/Коридор_sensor","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":130,"y":620,"wires":[["5febf049.7a2d9"]]},{"id":"6c1c3857.307f28","type":"mqtt out","z":"7d39cbf7.4cc914","name":"Кухня_кнопка_battery","topic":"SLS/Кухня_кнопка","qos":"","retain":"","broker":"fb49feae.23c74","x":640,"y":60,"wires":[]},{"id":"df19a3d2.6e27a","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_KITCHEN_BUTTON =global.get('B_KITCHEN_BUTTON') || 0;\nglobal.set('B_KITCHEN_BUTTON',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":60,"wires":[["6c1c3857.307f28"]]},{"id":"c23e4049.1baa6","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_HOLL_MOTION =global.get('B_HOLL_MOTION' )|| 0;\nglobal.set('B_HOLL_MOTION',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":140,"wires":[["b6d7ffd4.05ace"]]},{"id":"507bcc22.b50554","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_BALKON =global.get('B_BALKON' )|| 0;\nglobal.set('B_BALKON',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["69f5922f.bd9c2c"]]},{"id":"1b775f13.49bd31","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_ZAL =global.get('B_ZAL' )|| 0;\nglobal.set('B_ZAL',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":300,"wires":[["8468e33f.59cec"]]},{"id":"7f43d1eb.2a7cf","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_KITCHEN =global.get('B_KITCHEN' )|| 0;\nglobal.set('B_KITCHEN',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["1e3d9fd2.30841"]]},{"id":"e79b9e13.888ae","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_PANTRY_SWITCH =global.get('B_PANTRY_SWITCH' )|| 0;\nglobal.set('B_PANTRY_SWITCH',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":460,"wires":[["504a4994.eea658"]]},{"id":"b84b6841.6e8c68","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_BATHROOM =global.get('B_BATHROOM' )|| 0;\nglobal.set('B_BATHROOM',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":540,"wires":[["1b13527b.0ed1ae"]]},{"id":"5febf049.7a2d9","type":"function","z":"7d39cbf7.4cc914","name":"Action","func":"var payload = msg.payload.battery;\nvar B_HOLL =global.get('B_HOLL' )|| 0;\nglobal.set('B_HOLL',payload);\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":620,"wires":[["acbee584.143758"]]},{"id":"b6d7ffd4.05ace","type":"mqtt out","z":"7d39cbf7.4cc914","name":"Сенсор_движения _коридор_battery","topic":"SLS/Сенсор_движения","qos":"0","retain":"","broker":"fb49feae.23c74","x":690,"y":140,"wires":[]},{"id":"69f5922f.bd9c2c","type":"mqtt out","z":"7d39cbf7.4cc914","name":"Балкон_sensor_battery","topic":"SLS/Балкон_sensor","qos":"","retain":"","broker":"fb49feae.23c74","x":650,"y":220,"wires":[]},{"id":"8468e33f.59cec","type":"mqtt out","z":"7d39cbf7.4cc914","name":"Зал_sensor_battery","topic":"SLS/Зал_sensor","qos":"","retain":"","broker":"fb49feae.23c74","x":640,"y":300,"wires":[]},{"id":"1e3d9fd2.30841","type":"mqtt out","z":"7d39cbf7.4cc914","name":"Кухня_sensor_battery","topic":"SLS/Кухня_sensor","qos":"","retain":"","broker":"fb49feae.23c74","x":640,"y":380,"wires":[]},{"id":"504a4994.eea658","type":"mqtt out","z":"7d39cbf7.4cc914","name":"Кладовка_кнопка_battery","topic":"SLS/Кладовка_кнопка","qos":"","retain":"","broker":"fb49feae.23c74","x":660,"y":460,"wires":[]},{"id":"1b13527b.0ed1ae","type":"mqtt out","z":"7d39cbf7.4cc914","name":"Туалет_sensor_battery","topic":"SLS/Туалет_sensor","qos":"","retain":"","broker":"fb49feae.23c74","x":650,"y":540,"wires":[]},{"id":"acbee584.143758","type":"mqtt out","z":"7d39cbf7.4cc914","name":"","topic":"SLS/Коридор_sensor","qos":"","retain":"","broker":"fb49feae.23c74","x":640,"y":620,"wires":[]},{"id":"f9ff548e.d70568","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_KITCHEN_BUTTON","payloadType":"global","x":270,"y":20,"wires":[["6c1c3857.307f28"]]},{"id":"c8a8ba15.6aae98","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_HOLL_MOTION","payloadType":"global","x":260,"y":100,"wires":[["b6d7ffd4.05ace"]]},{"id":"a0e51f5d.5d428","type":"debug","z":"7d39cbf7.4cc914","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":580,"wires":[]},{"id":"4c747f1b.7fc5d","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_BALKON","payloadType":"global","x":290,"y":180,"wires":[["69f5922f.bd9c2c"]]},{"id":"1d723196.4d076e","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_ZAL","payloadType":"global","x":310,"y":260,"wires":[["8468e33f.59cec"]]},{"id":"4a86fea0.1ee87","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_KITCHEN","payloadType":"global","x":290,"y":340,"wires":[["1e3d9fd2.30841"]]},{"id":"2b1defb4.1c4f4","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_PANTRY_SWITCH","payloadType":"global","x":250,"y":420,"wires":[["504a4994.eea658"]]},{"id":"383b52c2.c2d12e","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_BATHROOM","payloadType":"global","x":280,"y":500,"wires":[["1b13527b.0ed1ae"]]},{"id":"a46e7e8c.cbeeb","type":"inject","z":"7d39cbf7.4cc914","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_HOLL","payloadType":"global","x":300,"y":580,"wires":[["acbee584.143758"]]},{"id":"877abdbd.80d6e","type":"comment","z":"eedfe401.0dbf28","name":"Use an API to disply a motivational quote to the motivation tab","info":"","x":220,"y":200,"wires":[]},{"id":"f04fd779.cea4c8","type":"inject","z":"eedfe401.0dbf28","name":"At 11:00am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":95,"y":275,"wires":[["b031a18e.59b03"]]},{"id":"b031a18e.59b03","type":"http request","z":"eedfe401.0dbf28","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://type.fit/api/quotes","tls":"","persist":false,"proxy":"","authType":"","x":195,"y":325,"wires":[["e6a4d14d.ce6a8"]]},{"id":"e6a4d14d.ce6a8","type":"function","z":"eedfe401.0dbf28","name":"","func":"msg.payload = msg.payload[getRndInteger(0,1642)];\nreturn msg;\n\n// this code gets a random interger\nfunction getRndInteger(min, max) {\n    return Math.floor(Math.random() * (max - min + 1) ) + min;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":275,"wires":[["125aeb5b.dd8de5","88378938.731448"]]},{"id":"88378938.731448","type":"change","z":"eedfe401.0dbf28","name":"set","rules":[{"t":"delete","p":"_msgid","pt":"msg"},{"t":"move","p":"payload.text","pt":"msg","to":"payload.content","tot":"msg"},{"t":"delete","p":"payload.author","pt":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"delete","p":"responseCookies","pt":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"188766073","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":175,"wires":[["fdd86dc2.a28f2"]]},{"id":"fdd86dc2.a28f2","type":"telegram sender","z":"eedfe401.0dbf28","name":"","bot":"10e75716.293339","haserroroutput":false,"outputs":1,"x":765,"y":125,"wires":[[]]},{"id":"4447589d.0fff58","type":"inject","z":"eedfe401.0dbf28","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"B_KITCHEN_BUTTON","payloadType":"global","x":170,"y":100,"wires":[["30d4f551.f5d37a"]]},{"id":"431e7556.5f20fc","type":"change","z":"eedfe401.0dbf28","name":"set","rules":[{"t":"delete","p":"_msgid","pt":"msg"},{"t":"delete","p":"payload.text","pt":"msg"},{"t":"move","p":"payload.author","pt":"msg","to":"payload.content","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"responseUrl","pt":"msg"},{"t":"delete","p":"redirectList","pt":"msg"},{"t":"delete","p":"responseCookies","pt":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"188766073","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":225,"wires":[["fdd86dc2.a28f2"]]},{"id":"125aeb5b.dd8de5","type":"delay","z":"eedfe401.0dbf28","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":275,"wires":[["431e7556.5f20fc"]]},{"id":"30d4f551.f5d37a","type":"change","z":"eedfe401.0dbf28","name":"Exemple_for_telegram","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"188766073","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":125,"wires":[["fdd86dc2.a28f2"]]},{"id":"b176d95f.4aef38","type":"telegram sender","z":"8fd05549.35a2e8","name":"","bot":"6ded6524.8aa7ac","haserroroutput":false,"outputs":1,"x":465,"y":1200,"wires":[[]]},{"id":"80983325.d2d32","type":"change","z":"8fd05549.35a2e8","name":"Exemple_for_telegram","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"188766073","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":1175,"wires":[["b176d95f.4aef38"]]},{"id":"5a76afde.0e222","type":"mqtt in","z":"1de36928.bb4db7","name":"","topic":"SLS/Сенсор_движения_гардероб","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":140,"y":25,"wires":[["5c3d2af2.1bfc24","39266f03.8279d"]]},{"id":"5c3d2af2.1bfc24","type":"function","z":"1de36928.bb4db7","name":"","func":"var payload = msg.payload.occupancy;\nvar MOVE_GARDEROB=global.get('MOVE_GARDEROB') || false;\nglobal.set('MOVE_GARDEROB',payload);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":100,"wires":[["a79cef61.c378b","faef3165.c977d","bbc24984.57ea18"]]},{"id":"faef3165.c977d","type":"change","z":"1de36928.bb4db7","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":325,"y":100,"wires":[["22313f7.71180c","83b79c9a.b50b6"]]},{"id":"a79cef61.c378b","type":"function","z":"1de36928.bb4db7","name":"","func":"var T;\nvar MOVE_GARDEROB=global.get('MOVE_GARDEROB') || false;\nif (MOVE_GARDEROB === true) {\n    T=\"Light garderob ON\";\n    msg.payload=T\n}\nelse if(MOVE_GARDEROB === false) {\n    T=\"Light garderob OFF\";\n    msg.payload=T;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":250,"wires":[["9308be49.11759"]]},{"id":"9308be49.11759","type":"trigger","z":"1de36928.bb4db7","name":"","op1":"Light garderob ON","op2":"Light garderob OFF","op1type":"str","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":220,"y":325,"wires":[["8477067b.c446f8"]]},{"id":"8477067b.c446f8","type":"change","z":"1de36928.bb4db7","name":"Exemple_for_telegram","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"188766073","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":325,"wires":[[]]},{"id":"83b79c9a.b50b6","type":"modbus-write","z":"1de36928.bb4db7","name":"Свїтло_гардероб_R1","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"Coil","adr":"1","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":725,"y":25,"wires":[[],["5d9dd408.789aec"]]},{"id":"f98ae9b3.3c0fb8","type":"telegram sender","z":"199ef594.2f383a","name":"","bot":"a23869b8.066f08","haserroroutput":false,"outputs":1,"x":690,"y":275,"wires":[[]]},{"id":"6b80ece1.8a6174","type":"change","z":"199ef594.2f383a","name":"Exemple_for_telegram","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"188766073","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":275,"wires":[["f98ae9b3.3c0fb8"]]},{"id":"c82f7eb4.82367","type":"comment","z":"199ef594.2f383a","name":"блок контроля протїкання води","info":"","x":130,"y":250,"wires":[]},{"id":"65e2459f.93e00c","type":"mqtt in","z":"199ef594.2f383a","name":"","topic":"SLS/Датчик _протечки _туалет","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":130,"y":300,"wires":[["9acaf05d.8cc04"]]},{"id":"d9713adc.edd608","type":"debug","z":"199ef594.2f383a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"9acaf05d.8cc04","type":"function","z":"199ef594.2f383a","name":"","func":"var payload=msg.payload.water_leak;\nvar A;\nif (payload===false){\n    A=\"Все добре\";\n    msg.payload=A;\n}\nelse if(payload===true){\n    A=\"Хьюстон у нас проблеми в ваннїй !!!\";\n    msg.payload=A;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":135,"y":400,"wires":[["d9713adc.edd608","d2f9a547.a38f78"]]},{"id":"27faef81.bf5d9","type":"mqtt in","z":"25e05753.27a1f8","name":"Balkon_Strip_Color","topic":"wled","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":90,"y":100,"wires":[["87a4ca40.a719b8"]]},{"id":"87a4ca40.a719b8","type":"modbus-write","z":"25e05753.27a1f8","name":"Strip_balkon","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"Coil","adr":"0","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":345,"y":100,"wires":[[],["7ff20e2d.a6879"]]},{"id":"a52fd8c5.27d4c8","type":"mqtt out","z":"403a7cfa.66bae4","name":"","topic":"Strip_1","qos":"2","retain":"true","broker":"299e6ecc.1aff42","x":310,"y":525,"wires":[]},{"id":"fbfb3b58.44e088","type":"inject","z":"403a7cfa.66bae4","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"STRIP_1","payloadType":"global","x":115,"y":475,"wires":[["a52fd8c5.27d4c8","54597615.c71c38"]]},{"id":"54597615.c71c38","type":"ui_switch","z":"403a7cfa.66bae4","name":"Strip-1","label":"Strip_1","tooltip":"","group":"2e4ede1d.87ed72","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":300,"y":450,"wires":[["fc599398.27a74","feef8b99.692e68"]]},{"id":"ed8ad50c.2a2508","type":"mqtt out","z":"403a7cfa.66bae4","name":"","topic":"Strip_2","qos":"2","retain":"true","broker":"299e6ecc.1aff42","x":310,"y":700,"wires":[]},{"id":"ed97e47f.9c9a98","type":"inject","z":"403a7cfa.66bae4","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"STRIP_2","payloadType":"global","x":115,"y":675,"wires":[["ed8ad50c.2a2508","733012e6.e7172c"]]},{"id":"733012e6.e7172c","type":"ui_switch","z":"403a7cfa.66bae4","name":"Strip-2","label":"Strip-2","tooltip":"","group":"2e4ede1d.87ed72","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"mi-On","oncolor":"","offvalue":"0","offvalueType":"num","officon":"mi-Off","offcolor":"","x":300,"y":650,"wires":[["8190be96.8689e","d329e65.84c4d18"]]},{"id":"d684c1b9.fea34","type":"ui_led","z":"403a7cfa.66bae4","order":2,"group":"2e4ede1d.87ed72","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#07f207","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":775,"y":75,"wires":[]},{"id":"f846c5e3.cccb28","type":"ui_switch","z":"403a7cfa.66bae4","name":"","label":"Bra","tooltip":"","group":"2e4ede1d.87ed72","order":1,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":75,"wires":[["d684c1b9.fea34","fbe1d468.ba8938"]]},{"id":"fc599398.27a74","type":"ui_led","z":"403a7cfa.66bae4","order":6,"group":"2e4ede1d.87ed72","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#07f207","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":475,"y":450,"wires":[]},{"id":"8190be96.8689e","type":"ui_led","z":"403a7cfa.66bae4","order":10,"group":"2e4ede1d.87ed72","width":2,"height":2,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#07f207","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":475,"y":650,"wires":[]},{"id":"d329e65.84c4d18","type":"dynamic-dimmer","z":"403a7cfa.66bae4","name":"","eventInterval":"25","steps":"50","minValue":0,"maxValue":"220","x":655,"y":450,"wires":[["5c136fc1.3110f"]]},{"id":"d9b655a0.b8ab38","type":"mqtt in","z":"403a7cfa.66bae4","name":"","topic":"Strip_1","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":300,"y":375,"wires":[["feef8b99.692e68"]]},{"id":"bce9d1e7.7e266","type":"mqtt in","z":"403a7cfa.66bae4","name":"","topic":"Strip_2","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":300,"y":575,"wires":[["d329e65.84c4d18"]]},{"id":"7fe0ce05.1038e","type":"mqtt in","z":"e2b5ec2f.7f1d8","name":"1_Strip","topic":"1strip","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":100,"y":25,"wires":[["c86fd348.7c48a"]]},{"id":"9e08f91b.213538","type":"mqtt in","z":"e2b5ec2f.7f1d8","name":"2_Strip","topic":"2strip","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":100,"y":100,"wires":[["290edcbb.095b14"]]},{"id":"d2f9a547.a38f78","type":"trigger","z":"199ef594.2f383a","name":"","op1":"Хьюстон у нас проблеми в ваннїй !!!","op2":"Потоп !!!","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"Все добре","bytopic":"all","topic":"topic","outputs":1,"x":355,"y":350,"wires":[["6b80ece1.8a6174","11d6adbf.88f6f2"]]},{"id":"11d6adbf.88f6f2","type":"change","z":"199ef594.2f383a","name":"Exemple_for_telegram","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"236823747","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":350,"wires":[["54b1435b.a54c8c"]]},{"id":"54b1435b.a54c8c","type":"telegram sender","z":"199ef594.2f383a","name":"","bot":"a23869b8.066f08","haserroroutput":false,"outputs":1,"x":815,"y":350,"wires":[[]]},{"id":"ebc9fae3.db1658","type":"function","z":"eedfe401.0dbf28","name":"","func":"msg.payload = {\n  message: 'This is a message above the buttons',\n  buttons: [\n    {\n      type: 'url',\n      url: 'http://javascript-jedi.com',\n      label: 'Javascript Jedi'\n    },\n    {\n      type: 'postback',\n      value: 'MY_POSTBACK_MESSAGE',\n      label: 'Click me!'\n    },\n    {\n      type: 'share'\n    }\n  ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":385,"y":375,"wires":[["95078659.c5de68"]]},{"id":"95078659.c5de68","type":"change","z":"eedfe401.0dbf28","name":"Exemple_for_telegram","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.content","tot":"msg"},{"t":"set","p":"payload.chatId","pt":"msg","to":"188766073","tot":"num"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":374,"wires":[["25c87a2.f95da86"]]},{"id":"25c87a2.f95da86","type":"telegram sender","z":"eedfe401.0dbf28","name":"","bot":"10e75716.293339","haserroroutput":false,"outputs":1,"x":749,"y":434,"wires":[[]]},{"id":"4b1873d3.2415bc","type":"inject","z":"eedfe401.0dbf28","name":"","props":[{"p":"payload"},{"p":"payload.chatId","v":"188766073","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hi","payloadType":"str","x":75,"y":475,"wires":[["850ff220.8b58f"]]},{"id":"ce2ebf14.f9c9d","type":"telegram receiver","z":"eedfe401.0dbf28","name":"","bot":"10e75716.293339","saveDataDir":"","filterCommands":false,"x":115,"y":375,"wires":[["ebc9fae3.db1658"],[]]},{"id":"850ff220.8b58f","type":"function","z":"eedfe401.0dbf28","name":"","func":"msg.payload = [\n  {\n    type: 'url',\n    url: 'http://javascript-jedi.com',\n    label: 'Javascript Jedi'\n  },\n  {\n    type: 'postback',\n    value: 'MY_POSTBACK_MESSAGE',\n    label: 'Click me!'\n  },\n  {\n    type: 'share'\n  }\n];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":475,"wires":[["95078659.c5de68"]]},{"id":"6129eac0.5bdec4","type":"inject","z":"9f3346aa.d4fc48","name":"1 min tick","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":70,"y":250,"wires":[["ab1a2405.584fd8","7805af15.1b74f","f2adaf57.d9a","57db43b6.37f54c","e91a3069.06e26"]]},{"id":"f4fc2799.51b558","type":"ui_gauge","z":"9f3346aa.d4fc48","name":"","group":"2631142d.86f8fc","order":1,"width":"3","height":"3","gtype":"gage","title":"CPU load","label":"%","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":485,"y":525,"wires":[]},{"id":"23830467.dd874c","type":"ui_gauge","z":"9f3346aa.d4fc48","name":"","group":"4a3f1d17.42abc4","order":2,"width":"6","height":"4","gtype":"wave","title":"Used","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":750,"y":260,"wires":[]},{"id":"10934589.87f3ca","type":"ui_chart","z":"9f3346aa.d4fc48","name":"","group":"2631142d.86f8fc","order":3,"width":"6","height":"4","label":"Load, %","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#ff8000","#aec7e8","#0080ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":435,"y":600,"wires":[[],[]]},{"id":"95df7e14.b6609","type":"ui_chart","z":"9f3346aa.d4fc48","name":"","group":"4a3f1d17.42abc4","order":1,"width":"6","height":"6","label":"Storage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":760,"y":300,"wires":[[],[]]},{"id":"e2fad608.df29c8","type":"ui_gauge","z":"9f3346aa.d4fc48","name":"","group":"8e72d94d.e2b8c8","order":2,"width":"0","height":"0","gtype":"donut","title":"RAM usage","label":"%","format":"{{msg.payload.memusage}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":750,"y":480,"wires":[]},{"id":"542d167b.24a938","type":"ui_chart","z":"9f3346aa.d4fc48","name":"","group":"8e72d94d.e2b8c8","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":740,"y":520,"wires":[[],[]]},{"id":"48b90ddd.e18714","type":"ui_gauge","z":"9f3346aa.d4fc48","name":"","group":"2631142d.86f8fc","order":2,"width":"3","height":"3","gtype":"gage","title":"CPU Temp","label":"°C","format":"{{ msg.payload }}","min":0,"max":"100","colors":["#0080ff","#ffffff","#ca3838"],"seg1":"70","seg2":"85","x":760,"y":680,"wires":[]},{"id":"597cae13.db6de","type":"function","z":"9f3346aa.d4fc48","name":"extract","func":"msg.payload = msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":475,"wires":[["542d167b.24a938"]]},{"id":"ba1907da.0fcf28","type":"function","z":"9f3346aa.d4fc48","name":"convert_uptime","func":"var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nvar s = ((msg.payload.uptime % 86400) % 3600) % 60;\nmsg.payload = d + ':' + h + ':' + m + ':' + s;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":400,"wires":[["fb58a432.8d29b8"]]},{"id":"ab1a2405.584fd8","type":"exec","z":"9f3346aa.d4fc48","command":"/opt/vc/bin/vcgencmd measure_temp | egrep -o \"[0-9]+\\.[0-9]+?\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_T","x":110,"y":625,"wires":[["48b90ddd.e18714","72d1796e.c403e8","a12688ec.514918"],[],[]]},{"id":"72d1796e.c403e8","type":"ui_chart","z":"9f3346aa.d4fc48","name":"","group":"2631142d.86f8fc","order":4,"width":"6","height":"3","label":"Temperature, °C","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":719,"wires":[[]]},{"id":"fb58a432.8d29b8","type":"ui_text","z":"9f3346aa.d4fc48","group":"8e72d94d.e2b8c8","order":1,"width":0,"height":0,"name":"","label":"Uptime, d:h:m:s","format":"{{ msg.payload }}","layout":"row-spread","x":760,"y":400,"wires":[]},{"id":"57db43b6.37f54c","type":"exec","z":"9f3346aa.d4fc48","command":"top -d 0.5 -b -n2 | grep Cpu | tail -1 | awk '{print 100-$8}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cpu_load","x":210,"y":475,"wires":[["f4fc2799.51b558","10934589.87f3ca"],[],[]]},{"id":"e91a3069.06e26","type":"exec","z":"9f3346aa.d4fc48","command":"df -m | grep root","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"read_sd_usage","x":305,"y":200,"wires":[["527cb653.bbcfe8"],[],[]]},{"id":"527cb653.bbcfe8","type":"function","z":"9f3346aa.d4fc48","name":"convert","func":"var msg1,msg2,msg3;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Total', payload: Math.round(l[1] / 1000)};\nmsg2 = {topic: 'Free', payload: Math.round(l[3] / 1000)};\nmsg3 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":540,"y":280,"wires":[["95df7e14.b6609"],["95df7e14.b6609"],["95df7e14.b6609","23830467.dd874c"]]},{"id":"b8be909f.8f951","type":"ui_button","z":"9f3346aa.d4fc48","name":"Next","group":"c552b4f6.efaca8","order":3,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"arrow_forward","payload":"+1","payloadType":"str","topic":"","x":530,"y":60,"wires":[["386574b8.d2a82c"]]},{"id":"386574b8.d2a82c","type":"ui_ui_control","z":"9f3346aa.d4fc48","name":"Control tabs","x":730,"y":80,"wires":[[]]},{"id":"c0fec75d.6684b8","type":"ui_button","z":"9f3346aa.d4fc48","name":"Prev","group":"c552b4f6.efaca8","order":1,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"arrow_back","payload":"-1","payloadType":"str","topic":"","x":530,"y":100,"wires":[["386574b8.d2a82c"]]},{"id":"433c8c9d.526bc4","type":"ui_button","z":"9f3346aa.d4fc48","name":"Refresh","group":"c552b4f6.efaca8","order":2,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"replay","payload":"{tab:\"\"}","payloadType":"str","topic":"","x":520,"y":20,"wires":[["386574b8.d2a82c"]]},{"id":"d9e2f2b.e50341","type":"inject","z":"9f3346aa.d4fc48","name":"1 min tick","repeat":"60","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":490,"y":140,"wires":[["78da90fa.fd1c4"]]},{"id":"78da90fa.fd1c4","type":"function","z":"9f3346aa.d4fc48","name":"date_time","func":"var d_obj = new Date().toString().slice(0, -18); \nmsg.payload = d_obj.slice(0, -6) + '<br>' + d_obj.slice(-5); \nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["ca66052d.983ce8"]]},{"id":"ca66052d.983ce8","type":"ui_text","z":"9f3346aa.d4fc48","group":"c552b4f6.efaca8","order":0,"width":0,"height":0,"name":"Date time","label":"","format":"{{ msg.payload }}","layout":"col-center","x":780,"y":140,"wires":[]},{"id":"c7e500f1.0b382","type":"comment","z":"9f3346aa.d4fc48","name":"UI controls","info":"","x":720,"y":20,"wires":[]},{"id":"f2adaf57.d9a","type":"Uptime","z":"9f3346aa.d4fc48","name":"Uptime","x":335,"y":275,"wires":[["ba1907da.0fcf28"]]},{"id":"7805af15.1b74f","type":"Memory","z":"9f3346aa.d4fc48","name":"","x":335,"y":325,"wires":[["e2fad608.df29c8","597cae13.db6de"]]},{"id":"48450d8.3afa3f4","type":"inject","z":"9f3346aa.d4fc48","name":"off","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":125,"y":900,"wires":[["c5e8b6e6.1e3cb8"]]},{"id":"f404cc00.34edd","type":"inject","z":"9f3346aa.d4fc48","name":"On","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":125,"y":750,"wires":[["c5e8b6e6.1e3cb8"]]},{"id":"20a5ca08.1b7a66","type":"debug","z":"9f3346aa.d4fc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":825,"wires":[]},{"id":"c86fd348.7c48a","type":"dynamic-dimmer","z":"e2b5ec2f.7f1d8","name":"Strip1","eventInterval":"5","steps":"25","minValue":0,"maxValue":"250","x":250,"y":25,"wires":[["c9c5c0af.77e85"]]},{"id":"c9c5c0af.77e85","type":"modbus-write","z":"e2b5ec2f.7f1d8","name":"Zal_Strip1","showStatusActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":25,"wires":[[],["dc96c062.ac571"]]},{"id":"5f1743df.a80bdc","type":"modbus-write","z":"e2b5ec2f.7f1d8","name":"Zal_Strip2","showStatusActivities":false,"showErrors":false,"unitid":"10","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":520,"y":100,"wires":[[],["d2276e45.66762"]]},{"id":"290edcbb.095b14","type":"dynamic-dimmer","z":"e2b5ec2f.7f1d8","name":"Strip2","eventInterval":"5","steps":"25","minValue":0,"maxValue":"250","x":250,"y":100,"wires":[["5f1743df.a80bdc"]]},{"id":"de710e31.ef59a","type":"mqtt out","z":"e2b5ec2f.7f1d8","name":"2strip","topic":"2strip","qos":"","retain":"","broker":"299e6ecc.1aff42","x":825,"y":200,"wires":[]},{"id":"4aebeac5.f33384","type":"mqtt out","z":"e2b5ec2f.7f1d8","name":"1strip","topic":"1strip","qos":"","retain":"","broker":"299e6ecc.1aff42","x":825,"y":75,"wires":[]},{"id":"dc96c062.ac571","type":"function","z":"e2b5ec2f.7f1d8","name":"","func":"var payload=msg.payload.value;\nvar A;\nif (payload>0){\n    A=1;\n    msg.payload=A;\n}\nelse if(payload==0){\n    A=0;\n    msg.payload=A;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":685,"y":25,"wires":[["2771ea10.433ed6"]]},{"id":"d2276e45.66762","type":"function","z":"e2b5ec2f.7f1d8","name":"","func":"var payload=msg.payload.value;\nvar B;\nif (payload>0){\n    B=1;\n    msg.payload=B;\n}\nelse if(payload==0){\n    B=0;\n    msg.payload=B;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":685,"y":100,"wires":[["bea851a.5e457b"]]},{"id":"2771ea10.433ed6","type":"rbe","z":"e2b5ec2f.7f1d8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":825,"y":25,"wires":[["4aebeac5.f33384"]]},{"id":"bea851a.5e457b","type":"rbe","z":"e2b5ec2f.7f1d8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":825,"y":150,"wires":[["de710e31.ef59a"]]},{"id":"84b89ae7.f0d918","type":"inject","z":"25e05753.27a1f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":75,"y":625,"wires":[["8e0a7827.e4c5c8"]]},{"id":"cc5fa1c7.d3a7a","type":"inject","z":"25e05753.27a1f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":75,"y":525,"wires":[["8e0a7827.e4c5c8"]]},{"id":"5e87ae7.05b8c5","type":"debug","z":"25e05753.27a1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":575,"wires":[]},{"id":"8e0a7827.e4c5c8","type":"change","z":"25e05753.27a1f8","name":"on/off","rules":[{"t":"set","p":"topic","pt":"msg","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"bright","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"100","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"ct","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"6500","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"2000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":244,"y":572,"wires":[["5e87ae7.05b8c5"]]},{"id":"230b0604.76e1fa","type":"function","z":"9f3346aa.d4fc48","name":"set on/off","func":"var T =msg.payload;\nvar on_off;\nif (T > 50) {\n    on_off = 0;\n    msg.payload=on_off;\n}\nelse if(T < 45) {\n    on_off = 1;\n    msg.payload=on_off;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":800,"wires":[["20a5ca08.1b7a66","c5e8b6e6.1e3cb8"]]},{"id":"c5e8b6e6.1e3cb8","type":"rpi-gpio out","z":"9f3346aa.d4fc48","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":410,"y":850,"wires":[]},{"id":"a12688ec.514918","type":"function","z":"9f3346aa.d4fc48","name":"From string to number","func":"let str = msg.payload;\nlet num = Number(str); // становится числом 123\nmsg.payload=num;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":750,"wires":[["f636a02f.de0fe","230b0604.76e1fa"]]},{"id":"f636a02f.de0fe","type":"debug","z":"9f3346aa.d4fc48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":745,"y":775,"wires":[]},{"id":"818c32ed.05665","type":"mqtt in","z":"e2b5ec2f.7f1d8","name":"Color_Strip","topic":"cstrip","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","x":110,"y":175,"wires":[["d7bb0a2a.035738"]]},{"id":"256dc0b.4393f4","type":"mqtt out","z":"e2b5ec2f.7f1d8","name":"Color_Strip","topic":"cstrip","qos":"2","retain":"true","broker":"299e6ecc.1aff42","x":820,"y":250,"wires":[]},{"id":"2bf2db7e.ccb1c4","type":"rbe","z":"e2b5ec2f.7f1d8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":425,"y":250,"wires":[["256dc0b.4393f4"]]},{"id":"fe98b8c6.8e3238","type":"function","z":"e2b5ec2f.7f1d8","name":"","func":"var payload=msg.payload.state;\nvar C;\nif (payload==true){\n    C=1;\n    msg.payload=C;\n}\nelse if(payload==false){\n    C=0;\n    msg.payload=C;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":175,"wires":[["2bf2db7e.ccb1c4"]]},{"id":"5cb9be47.63a93","type":"mqtt out","z":"25e05753.27a1f8","name":"Balkon_Strip_Color","topic":"wled","qos":"2","retain":"true","broker":"299e6ecc.1aff42","x":740,"y":100,"wires":[]},{"id":"e4ddb201.ba826","type":"debug","z":"25e05753.27a1f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":595,"y":25,"wires":[]},{"id":"8dbcb46c.240b88","type":"rbe","z":"25e05753.27a1f8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":550,"y":100,"wires":[["e4ddb201.ba826","5cb9be47.63a93"]]},{"id":"7ff20e2d.a6879","type":"function","z":"25e05753.27a1f8","name":"","func":"var payload=msg.payload.state;\nvar C;\nif (payload==true){\n    C=1;\n    msg.payload=C;\n}\nelse if(payload==false){\n    C=0;\n    msg.payload=C;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":175,"wires":[["8dbcb46c.240b88"]]},{"id":"a57ae784.f26b78","type":"modbus-read","z":"403a7cfa.66bae4","name":"2","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"Input","adr":"5","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"460b8373.d4d33c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":75,"y":900,"wires":[["52bc8828.d31a08"],[]]},{"id":"a32e0f76.7640c","type":"debug","z":"403a7cfa.66bae4","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":800,"wires":[]},{"id":"1a72b34b.e08bfd","type":"debug","z":"403a7cfa.66bae4","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":475,"y":900,"wires":[]},{"id":"6cca3b0f.627114","type":"inject","z":"8b4aa0c3.28ae6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":100,"y":150,"wires":[["37f4657a.1462ca"]]},{"id":"33b25fab.95032","type":"inject","z":"8b4aa0c3.28ae6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":100,"y":200,"wires":[["37f4657a.1462ca"]]},{"id":"d7bb0a2a.035738","type":"modbus-write","z":"e2b5ec2f.7f1d8","name":"Zal_Color_Strips","showStatusActivities":false,"showErrors":false,"unitid":"2","dataType":"Coil","adr":"3","quantity":"1","server":"460b8373.d4d33c","emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":175,"wires":[[],["fe98b8c6.8e3238"]]},{"id":"e43df155.18b91","type":"inject","z":"403a7cfa.66bae4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"STRIP_1","payloadType":"global","x":680,"y":525,"wires":[[]]},{"id":"2a4c2a9f.26b996","type":"inject","z":"403a7cfa.66bae4","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"STRIP_2","payloadType":"global","x":655,"y":725,"wires":[[]]},{"id":"efd101d2.abb76","type":"modbus-read","z":"403a7cfa.66bae4","name":"1","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"3","dataType":"Input","adr":"4","quantity":"1","rate":"100","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"460b8373.d4d33c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":75,"y":800,"wires":[["98fb9e5c.2431c"],[]]},{"id":"98fb9e5c.2431c","type":"rbe","z":"403a7cfa.66bae4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":250,"y":800,"wires":[["55720c7a.35a574"]]},{"id":"52bc8828.d31a08","type":"rbe","z":"403a7cfa.66bae4","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":250,"y":900,"wires":[[]]},{"id":"55720c7a.35a574","type":"function","z":"403a7cfa.66bae4","name":"strip_1","func":"var STRIP_2=global.get('STRIP_2');\nvar state;\nif (msg.payload[4]===true & STRIP_2===1){\n  state=1;\n  msg.payload=state;\n}\nelse if (msg.payload[4]===true & STRIP_2===0){\n  state=1;\n  msg.payload=state;\n}\nelse if (msg.payload[4]===false & STRIP_2===0){\n  state=0;\n  msg.payload=state;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":800,"wires":[["a32e0f76.7640c"]]},{"id":"22313f7.71180c","type":"debug","z":"1de36928.bb4db7","name":"изменить 2 правила","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":425,"y":175,"wires":[]},{"id":"39266f03.8279d","type":"debug","z":"1de36928.bb4db7","name":"out_sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":445,"y":25,"wires":[]},{"id":"5d9dd408.789aec","type":"debug","z":"1de36928.bb4db7","name":"rele","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":200,"wires":[]},{"id":"d797ffff.7b3a9","type":"switch","z":"2de13d49.700a82","name":"Кнопка_коридор","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":540,"y":125,"wires":[["f837d14.4d7da3"],[],[],[],[]]},{"id":"60ce94d4.c42dec","type":"debug","z":"2de13d49.700a82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":325,"wires":[]},{"id":"4d5f13f0.7c553c","type":"mqtt in","z":"199ef594.2f383a","name":"","topic":"SLS/Сенсор_движения_туалет","qos":"2","datatype":"json","broker":"299e6ecc.1aff42","nl":false,"rap":false,"x":130,"y":550,"wires":[["e4813c44.2b1d2","85aae225.e5475"]]},{"id":"53999c9d.031b64","type":"debug","z":"199ef594.2f383a","name":"реле","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":600,"wires":[]},{"id":"e4813c44.2b1d2","type":"function","z":"199ef594.2f383a","name":"","func":"var payload = msg.payload.occupancy;\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":550,"wires":[["ab8718ac.af7ae8","d3a7ef62.da67f"]]},{"id":"ab8718ac.af7ae8","type":"change","z":"199ef594.2f383a","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":550,"wires":[["dc80af8f.1430d","b9b8be24.ca3b8"]]},{"id":"bbc24984.57ea18","type":"debug","z":"1de36928.bb4db7","name":"funkcia1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":385,"y":250,"wires":[]},{"id":"531dbcd5.edb524","type":"trigger","z":"199ef594.2f383a","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":120,"y":625,"wires":[["3cbe8b98.99b914","53999c9d.031b64"]]},{"id":"9c32b164.3ef8","type":"http request","z":"199ef594.2f383a","name":"ON_RELE","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.31.108/api/zigbee?dev=0x9DCC&action=setState&name=state&value=ON","tls":"","persist":false,"proxy":"","authType":"","x":545,"y":650,"wires":[["8222bf3f.c6139"]]},{"id":"d65689dd.df3748","type":"http request","z":"199ef594.2f383a","name":"OFF_RELE","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.31.108/api/zigbee?dev=0x9DCC&action=setState&name=state&value=OFF","tls":"","persist":false,"proxy":"","authType":"","x":545,"y":725,"wires":[["c3a36e33.dd7d5"]]},{"id":"3cbe8b98.99b914","type":"switch","z":"199ef594.2f383a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":345,"y":675,"wires":[["9c32b164.3ef8"],["d65689dd.df3748"]]},{"id":"6a9c6ece.dbc85","type":"mqtt in","z":"2de13d49.700a82","name":"","topic":"button/kladovka","qos":"0","datatype":"auto","broker":"299e6ecc.1aff42","x":80,"y":225,"wires":[["79413680.54d808"]]},{"id":"6ceff2d7.d2cffc","type":"mqtt out","z":"2de13d49.700a82","name":"","topic":"button/kladovka","qos":"","retain":"","broker":"299e6ecc.1aff42","x":755,"y":200,"wires":[]},{"id":"79413680.54d808","type":"rbe","z":"2de13d49.700a82","name":"","func":"rbei","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":325,"y":225,"wires":[["60ce94d4.c42dec","d44861e2.32f77"]]},{"id":"d44861e2.32f77","type":"trigger","z":"2de13d49.700a82","name":"","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":545,"y":225,"wires":[["6ceff2d7.d2cffc"]]},{"id":"dc80af8f.1430d","type":"switch","z":"199ef594.2f383a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":745,"y":550,"wires":[["63ae0b59.793ae4","3cbe8b98.99b914"],["3cbe8b98.99b914","ff0bdeda.a2e35"]]},{"id":"e75b0768.7ecd38","type":"comment","z":"199ef594.2f383a","name":"блок контроля ВОЛОГОСТЇ","info":"","x":125,"y":21,"wires":[]},{"id":"c00ba083.ff8b","type":"comment","z":"199ef594.2f383a","name":"блок контроля свїтла","info":"","x":100,"y":500,"wires":[]},{"id":"85aae225.e5475","type":"debug","z":"199ef594.2f383a","name":"sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":450,"wires":[]},{"id":"d3a7ef62.da67f","type":"debug","z":"199ef594.2f383a","name":"function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":535,"y":450,"wires":[]},{"id":"f24e0418.1dc808","type":"inject","z":"199ef594.2f383a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":100,"y":700,"wires":[["3cbe8b98.99b914"]]},{"id":"f70eadc6.25542","type":"inject","z":"199ef594.2f383a","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100,"y":750,"wires":[["3cbe8b98.99b914"]]},{"id":"8222bf3f.c6139","type":"debug","z":"199ef594.2f383a","name":"0n","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":650,"wires":[]},{"id":"c3a36e33.dd7d5","type":"debug","z":"199ef594.2f383a","name":"off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":725,"wires":[]},{"id":"b9b8be24.ca3b8","type":"debug","z":"199ef594.2f383a","name":"измениь 2 правила","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":775,"y":475,"wires":[]},{"id":"63ae0b59.793ae4","type":"debug","z":"199ef594.2f383a","name":"направить1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":895,"y":500,"wires":[]},{"id":"ff0bdeda.a2e35","type":"debug","z":"199ef594.2f383a","name":"напраавить2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":895,"y":600,"wires":[]},{"id":"e20bc4c9.441c48","type":"debug","z":"8b4aa0c3.28ae6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":695,"y":425,"wires":[]},{"id":"8fc9dc1d.69273","type":"server-state-changed","z":"4b84a0a9.2e185","name":"Дверь (санузел)","server":"b9490f48.586ed","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.2_bathroom_door","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":155,"y":125,"wires":[["1a6f3fbd.29d2d","bbd68a5d.246fc8"],["1a6f3fbd.29d2d"]]},{"id":"1a6f3fbd.29d2d","type":"change","z":"4b84a0a9.2e185","name":"Door","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"door_on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"door_off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":175,"wires":[["cb5672d6.13d91"]]},{"id":"bbd68a5d.246fc8","type":"api-current-state","z":"4b84a0a9.2e185","name":"Свет (санузел)","server":"b9490f48.586ed","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.2_bathroom_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":585,"y":75,"wires":[[],["a040f29a.b0a3c"]]},{"id":"263e84ae.564a1c","type":"server-state-changed","z":"4b84a0a9.2e185","name":"Движение (санузел)","server":"b9490f48.586ed","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.2_bathroom_motion_sensor","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":250,"wires":[["3ff51573.d64b8a","bbd68a5d.246fc8"],["3ff51573.d64b8a"]]},{"id":"a040f29a.b0a3c","type":"api-call-service","z":"4b84a0a9.2e185","name":"Свет (санузел)","server":"b9490f48.586ed","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.2_bathroom_light","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":585,"y":125,"wires":[[]]},{"id":"3ff51573.d64b8a","type":"change","z":"4b84a0a9.2e185","name":"Motion","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"motion_on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"motion_off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":275,"wires":[["cb5672d6.13d91"]]},{"id":"5d4ad786.a1b498","type":"change","z":"4b84a0a9.2e185","name":"not_occupied","rules":[{"t":"set","p":"payload","pt":"msg","to":"not_occupied","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":600,"wires":[["cb5672d6.13d91"]]},{"id":"f8eb9934.afe978","type":"change","z":"4b84a0a9.2e185","name":"Door Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"door_off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":485,"y":650,"wires":[["cb5672d6.13d91"]]},{"id":"7cfbadb3.386824","type":"change","z":"4b84a0a9.2e185","d":true,"name":"Toilet","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"toilet_on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"toilet_off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":375,"y":425,"wires":[["cb5672d6.13d91"]]},{"id":"876bfc07.6fa92","type":"change","z":"4b84a0a9.2e185","d":true,"name":"Toilet On","rules":[{"t":"set","p":"payload","pt":"msg","to":"toilet_on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":700,"wires":[["cb5672d6.13d91"]]},{"id":"19b0bfc5.27767","type":"switch","z":"4b84a0a9.2e185","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"occupied","vt":"str"},{"t":"eq","v":"not_occupied","vt":"str"},{"t":"eq","v":"wait_for_motion","vt":"str"},{"t":"eq","v":"wait_for_door_off","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":700,"y":650,"wires":[["35743a96.1cce06"],["a90b1fb9.01a0c"],["9aa86809.4c20d8","9384b220.642d9","6457f5cf.3a6f5c","3ed7aceb.e96cd4"],["9aa86809.4c20d8","a7c9874e.1e38e8","6457f5cf.3a6f5c","3ed7aceb.e96cd4"]]},{"id":"9aa86809.4c20d8","type":"trigger","z":"4b84a0a9.2e185","name":"5 Min","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"wait_for_motion","bytopic":"all","topic":"topic","outputs":1,"x":1190,"y":420,"wires":[["5d4ad786.a1b498","6457f5cf.3a6f5c"]]},{"id":"6457f5cf.3a6f5c","type":"trigger","z":"4b84a0a9.2e185","name":"5 Min","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":true,"overrideDelay":false,"units":"min","reset":"wait_for_door_off","bytopic":"all","topic":"topic","outputs":1,"x":1250,"y":675,"wires":[["1329363e.0009fa","5d4ad786.a1b498"]]},{"id":"657d7337.9fa5ac","type":"trigger-state","z":"4b84a0a9.2e185","name":"Свет (санузел)","server":"b9490f48.586ed","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.2_bathroom_light","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"outputLabels":["Lights turned Off","Lights turned On"],"x":900,"y":75,"wires":[["9e241b49.b932f8","5d4ad786.a1b498"],["6457f5cf.3a6f5c"]]},{"id":"a7c9874e.1e38e8","type":"api-current-state","z":"4b84a0a9.2e185","name":"Дверь (санузел)","server":"b9490f48.586ed","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.2_bathroom_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":385,"y":500,"wires":[["f8eb9934.afe978"],[]]},{"id":"4a41b712.a00278","type":"server-state-changed","z":"4b84a0a9.2e185","d":true,"name":"Унитаз","server":"b9490f48.586ed","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.2_bathroom_toilet_usage","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":155,"y":350,"wires":[["7cfbadb3.386824"]]},{"id":"402a4a80.6098f4","type":"api-current-state","z":"4b84a0a9.2e185","d":true,"name":"Унитаз","server":"b9490f48.586ed","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.2_bathroom_toilet_usage","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":885,"y":750,"wires":[["876bfc07.6fa92"],[]]},{"id":"35743a96.1cce06","type":"change","z":"4b84a0a9.2e185","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":925,"y":225,"wires":[["9e241b49.b932f8","9aa86809.4c20d8","da14c2ae.593df"]]},{"id":"a90b1fb9.01a0c","type":"change","z":"4b84a0a9.2e185","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":380,"wires":[["9aa86809.4c20d8","da14c2ae.593df"]]},{"id":"9384b220.642d9","type":"trigger","z":"4b84a0a9.2e185","d":true,"name":"10 Sec","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"10","extend":true,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":675,"y":750,"wires":[["402a4a80.6098f4"]]},{"id":"9e241b49.b932f8","type":"change","z":"4b84a0a9.2e185","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":320,"wires":[["6457f5cf.3a6f5c"]],"icon":"node-red-contrib-actionflows/loopflow.png"},{"id":"1329363e.0009fa","type":"api-current-state","z":"4b84a0a9.2e185","name":"Свет (санузел)","server":"b9490f48.586ed","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"switch.2_bathroom_light","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":50,"wires":[["f1f37671.abd918"],[]]},{"id":"da14c2ae.593df","type":"mqtt out","z":"4b84a0a9.2e185","name":"mqtt","topic":"2_bathroom/occupancy","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb49feae.23c74","x":1150,"y":350,"wires":[]},{"id":"f1f37671.abd918","type":"api-call-service","z":"4b84a0a9.2e185","name":"Свет (санузел)","server":"b9490f48.586ed","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.2_bathroom_light","data":"{}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1510,"y":200,"wires":[[]]},{"id":"4dda44cd.2df16c","type":"comment","z":"4b84a0a9.2e185","name":"ВКЛ света в санузле при входе или по движению","info":"","x":190,"y":50,"wires":[]},{"id":"2260093d.706af6","type":"comment","z":"4b84a0a9.2e185","name":"Когда внутри есть движение, при закрытой двери","info":"","x":365,"y":800,"wires":[]},{"id":"3ed7aceb.e96cd4","type":"trigger","z":"4b84a0a9.2e185","d":true,"name":"90 Sec","op1":"","op2":"motion_on","op1type":"nul","op2type":"str","duration":"90","extend":false,"overrideDelay":false,"units":"s","reset":"wait_for_door_off","bytopic":"all","topic":"topic","outputs":1,"x":1025,"y":600,"wires":[["66acfe48.1f6c2"]]},{"id":"66acfe48.1f6c2","type":"api-current-state","z":"4b84a0a9.2e185","d":true,"name":"Движение","server":"b9490f48.586ed","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"binary_sensor.2_bathroom_motion_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1210,"y":480,"wires":[["86082dbd.609e3"],[]]},{"id":"86082dbd.609e3","type":"change","z":"4b84a0a9.2e185","d":true,"name":"motion_on","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion_on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":480,"wires":[["cb5672d6.13d91"]]},{"id":"3aa61bb4.caca54","type":"comment","z":"4b84a0a9.2e185","d":true,"name":"Aqara Zigbee motion sensor","info":"Если датчик находится в состоянии движения более 1.5 минут, то считать это аналогом повторного обнаружения движения, чтобы включить режим occupied.","x":1620,"y":480,"wires":[]},{"id":"cb5672d6.13d91","type":"state-machine","z":"4b84a0a9.2e185","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","outputStateChangeOnly":true,"throwException":false,"states":["not_occupied","wait_for_door_off","wait_for_motion","occupied"],"transitions":[{"name":"door_on","from":"*","to":"wait_for_door_off"},{"name":"door_off","from":"wait_for_door_off","to":"wait_for_motion"},{"name":"motion_on","from":"wait_for_door_off","to":"wait_for_door_off"},{"name":"motion_on","from":"not_occupied","to":"wait_for_door_off"},{"name":"motion_on","from":"wait_for_motion","to":"occupied"},{"name":"toilet_on","from":"*","to":"occupied"},{"name":"toilet_off","from":"*","to":"wait_for_motion"},{"name":"not_occupied","from":"*","to":"not_occupied"}],"x":655,"y":400,"wires":[["19b0bfc5.27767"]]}]